* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightblue;
}

main {
    width: 1200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.btn {
    width: 200px;
    height: 60px;
    border-radius: 10px;
    border: 1px solid gray;
    background-color: beige;
    cursor: pointer;
}

.btn a {
    text-decoration: none;
    color: black;
}
